ADF Mini Project Code.json
{
    "name": "pl_ingest_population_data",
    "properties": {
        "description": "This pipeline will ingest data from Azure Blob Storage and dump it into Data lake Gen 2",
        "activities": [
            {
                "name": "Check if file exists",
                "type": "Validation",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_by_age",
                        "type": "DatasetReference"
                    },
                    "timeout": "0.00:00:30",
                    "sleep": 10,
                    "minimumSize": 1024
                }
            },
            {
                "name": "Get Metadata",
                "type": "GetMetadata",
                "dependsOn": [
                    {
                        "activity": "Check if file exists",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "userProperties": [],
                "typeProperties": {
                    "dataset": {
                        "referenceName": "ds_population_by_age",
                        "type": "DatasetReference"
                    },
                    "fieldList": [
                        "columnCount",
                        "exists",
                        "size"
                    ],
                    "storeSettings": {
                        "type": "AzureBlobStorageReadSettings",
                        "recursive": true,
                        "enablePartitionDiscovery": false
                    },
                    "formatSettings": {
                        "type": "DelimitedTextReadSettings"
                    }
                }
            },
            {
                "name": "Check if file is valid",
                "description": "Check if file is having correct number of columns",
                "type": "IfCondition",
                "dependsOn": [
                    {
                        "activity": "Get Metadata",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "expression": {
                        "value": "@equals(activity('Get Metadata').output.columnCount, pipeline().parameters.NumberOfColumns)",
                        "type": "Expression"
                    },
                    "ifFalseActivities": [
                        {
                            "name": "Fail",
                            "type": "Fail",
                            "dependsOn": [],
                            "userProperties": [],
                            "typeProperties": {
                                "message": "Mismatched Column Number",
                                "errorCode": "500"
                            }
                        },
                        {
                            "name": "Send Email",
                            "description": "Send email to concern persons",
                            "type": "WebActivity",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "url": "https://prod-01.southindia.logic.azure.com:443/workflows/1ab2bdf3ce8e49f9baf3213f8921a47b/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ZH2k83FP3b3ucQoyPuJOV6Ttc6g3LBT-SJzB3VoktIE",
                                "method": "POST",
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "body": {
                                    "value": "{\n    \"datafactory_name\": \"@{pipeline().DataFactory}\",\n    \"Pipeline_name\": \"@{pipeline().Pipeline}\",\n    \"run_id\": \"@{pipeline().RunId}\",\n    \"Error_message\": \"Error Code 500: Column Mismatched,\n                        Number Of Columns Found: @{pipeline().parameters.NumberOfColumns}\"\n}",
                                    "type": "Expression"
                                }
                            }
                        }
                    ],
                    "ifTrueActivities": [
                        {
                            "name": "Copy data population by age",
                            "type": "Copy",
                            "dependsOn": [],
                            "policy": {
                                "timeout": "0.00:05:00",
                                "retry": 1,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "source": {
                                    "type": "DelimitedTextSource",
                                    "storeSettings": {
                                        "type": "AzureBlobStorageReadSettings",
                                        "recursive": true,
                                        "enablePartitionDiscovery": false
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextReadSettings"
                                    }
                                },
                                "sink": {
                                    "type": "DelimitedTextSink",
                                    "storeSettings": {
                                        "type": "AzureBlobFSWriteSettings"
                                    },
                                    "formatSettings": {
                                        "type": "DelimitedTextWriteSettings",
                                        "quoteAllText": true,
                                        "fileExtension": ".txt"
                                    }
                                },
                                "enableStaging": false,
                                "translator": {
                                    "type": "TabularTranslator",
                                    "typeConversion": true,
                                    "typeConversionSettings": {
                                        "allowDataTruncation": true,
                                        "treatBooleanAsNumber": false
                                    }
                                }
                            },
                            "inputs": [
                                {
                                    "referenceName": "ds_population_by_age",
                                    "type": "DatasetReference"
                                }
                            ],
                            "outputs": [
                                {
                                    "referenceName": "ds_datalake_population",
                                    "type": "DatasetReference"
                                }
                            ]
                        },
                        {
                            "name": "Delete from source",
                            "description": "Delete the file from source once it is copied.",
                            "type": "Delete",
                            "dependsOn": [
                                {
                                    "activity": "Copy data population by age",
                                    "dependencyConditions": [
                                        "Succeeded"
                                    ]
                                }
                            ],
                            "policy": {
                                "timeout": "0.12:00:00",
                                "retry": 0,
                                "retryIntervalInSeconds": 30,
                                "secureOutput": false,
                                "secureInput": false
                            },
                            "userProperties": [],
                            "typeProperties": {
                                "dataset": {
                                    "referenceName": "ds_population_by_age",
                                    "type": "DatasetReference"
                                },
                                "enableLogging": false,
                                "storeSettings": {
                                    "type": "AzureBlobStorageReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                }
                            }
                        }
                    ]
                }
            }
        ],
        "parameters": {
            "NumberOfColumns": {
                "type": "string",
                "defaultValue": "13"
            }
        },
        "annotations": [],
        "lastPublishTime": "2023-07-14T09:19:30Z"
    },
    "type": "Microsoft.DataFactory/factories/pipelines"
}